body {
    margin: 10px;
    padding: 10px;
}
.heading {
    display: flex;
    justify-content: space-between;
    background-color: darkgreen;
    padding: 20px;
    position: sticky;
    top: 0;
}
.heading:hover {
    box-shadow: 4px 4px 3px #8B4513;
}
.logoimage button {
    border: none;
}
.logoimage button:hover {
    box-shadow: 2px 2px 2px grey;
}
.logoimage img {
    height: 2cm;
    width: 2cm;
    margin-top: 5px;
    margin-bottom: 5px;
}
.heading .features {
    gap: 200px;
}
.features li {
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: aliceblue;
    margin-bottom: 50px;

}
.heading .features ul {
    display: flex;
    gap: 120px;
    margin-right: 10px;
    margin-bottom: 40px;
}

.heading .features ul li:hover {
    text-decoration: underline;
}
.searchbutton {
}