body {
    margin: 5px;
    padding: 5px;
}
.heading {
    display: flex;
    padding: 20px;
    border: 1px solid darkgreen;
    background-color: darkgreen;
    gap: 900px;
}

.heading .logobtn img {
    height: 2cm;
    width:  2cm;
}

.heading .logobtn button {
    border: none;
}
.contentitem {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center horizontally */
    
}

.contentitem .listitem ul {
    gap: 35px;
    display: flex;
    text-align: end;
    color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    margin: 10px;
}
.contentitem .listitem ul li {
    list-style: none;

}
.contentitem .listitem ul li:hover {
    text-decoration: underline;
}
.contentitem {
    align-items: center;
}
.contentitem .searchitem form {
    margin-top: 10px;
}


